<link href="assets/css/multi-step-form.css" rel="stylesheet">
<script src="assets/js/form2.js"></script>
<script src="assets/js/form.js"></script>
<div class="form-body">
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <div class="card rounded-0 b-0">
                    <div class="card-header">
                        <div class="row d-flex justify-content-between">
                            <div class="">                             
                            </div>
                            <div class="text-md-center">
                            </div>
                        </div>
                    </div>
                    <form id="regForm" method="POST" action="/dashboardcreateitem" onsubmit="return false">
                        <div class="card-body show pt-0 tab">
                             {{#if message}}
                                <div class="alert alert-success alert-dismissible fade show d-flex flex-row bd-highlight mb-3 mt-3" role="alert">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <img src="https://i.imgur.com/krsWHvd.gif" class="check"> 
                                    </div>
                                    <div class="pl-2 flex-fill bd-highlight">
                                        <p><strong>Confirmado!</strong> El equipo se registró correctamente.</p>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            {{#if error}}
                                <div class="alert alert-danger alert-dismissible fade show mt-3 mb-3" role="alert">
                                    <strong>¡Error!</strong> El identificador de equipo o monitor ya existe.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {{/if}}
                            <input type="text" style="display: none" class="form-control" value="algo">
                            <h4 class="heading mb-4 pb-1">What should be done?</h4>
                            <div class="radio-group row justify-content-between px-3">
                                <input type="text" style="display: none;" placeholder="" class="form-control" value="algo">
                                <div class="card-block radio selected computer">
                                    <div class="row justify-content-end d-flex px-3">
                                        <div class="fa fa-check"></div>
                                    </div>
                                    <div class="row justify-content-center d-flex">
                                        <div class="pic"> <img src="https://i.imgur.com/4uBi6ib.png" class="pic-0">
                                        </div>
                                        <h5 class="mb-4">Create Website</h5>
                                    </div>
                                </div>
                                <div class="card-block radio portatil">
                                    <div class="row justify-content-end d-flex px-3">
                                        <div class="fa fa-circle"></div>
                                    </div>
                                    <div class="row justify-content-center d-flex">
                                        <div class="pic"> <img src="https://i.imgur.com/nwy6Wkh.png" class="pic-0">
                                        </div>
                                        <h5 class="mb-4">Website Relaunch</h5>
                                    </div>
                                </div>
                                <div class="card-block radio tablet">
                                    <div class="row justify-content-end d-flex px-3">
                                        <div class="fa fa-circle"></div>
                                    </div>
                                    <div class="row justify-content-center d-flex">
                                        <div class="pic"> <img src="https://i.imgur.com/74Ez7OS.png" class="pic-0">
                                        </div>
                                        <h5 class="mb-4">Don't Know</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0 tab">
                            <h4 class="heading mb-4 pb-1">Referencias del equipo</h4>
                            <label class="text-danger mb-3">* Required</label>
                            <div class="form-group">
                                <label class="form-control-label">Identificador del equipo * :</label>
                                <input type="text" id="equipmentId" name="equipmentId" placeholder="" class="form-control"  value={{equipmentId}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Referencia del equipo * :</label>
                                <input type="text" id="equipmentRef" name="equipmentRef" placeholder="" class="form-control" value={{equipmentRef}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Identificador del monitor * :</label>
                                <input type="text" id="monitorId" name="monitorId" placeholder="" class="form-control" value={{monitorId}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Referencia del monitor * :</label>
                                <input type="text" id="monitorRef" name="monitorRef" placeholder="" class="form-control" value={{monitorRef}}>
                            </div>
                        </div>
                        <div class="card-body pt-0 tab">
                            <h4 class="heading mb-4 pb-1">Especificaciones del equipo</h4>
                            <label class="text-danger mb-3">* Required</label>
                            <div class="form-group">
                                <label class="form-control-label">Procesador :</label>
                                <input type="text" id="processor" name="processor" placeholder="" class="form-control" value={{processor}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Memoria instalada (RAM) :</label>
                                <input type="text" id="memoryRam" name="memoryRam" placeholder="" class="form-control" value={{memoryRam}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Referencia del disco duro * :</label>
                                <input type="text" id="diskRef" name="diskRef" placeholder="" class="form-control" value={{diskRef}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Espacio total el disco duro * :</label>
                                <input type="text" id="diskSpace" name="diskSpace" placeholder="" class="form-control" value={{diskSpace}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">¿El equipo cuenta con mouse? :</label>
                                <div class="select mb-3">
                                    <select name="mouse" class="form-control" value={{mouse}}>
                                        <option value="si">Sí</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">¿El equipo cuenta con teclado? :</label>
                                <div class="select mb-3">
                                    <select name="keyboard" class="form-control" value={{keyboard}}>
                                        <option value="si">Sí</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0 tab">
                            <h4 class="heading mb-4 pb-1">Especifcaciones de programas y sistema operativo</h4>
                            <label class="text-danger mb-3">* Required</label>
                            <div class="form-group">
                                <label class="form-control-label">Sistema operativo * :</label>
                                <input type="text" id="os" name="os" placeholder="" class="form-control" value={{OS}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Licencia del sistema operativo * :</label>
                                <input type="text" id="osLicense" name="osLicense" placeholder="" class="form-control" value={{licenseOS}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Versión de Office * :</label>
                                <input type="text" id="officeVersion" name="officeVersion" placeholder="" class="form-control" value={{officeVersion}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Licencia de Office * :</label>
                                <input type="text" id="officeLicense" name="officeLicense" placeholder="" class="form-control" value={{officeLicense}}>
                            </div>
                        </div>
                        <div class="card-body pt-0 tab">
                            <h4 class="heading mb-4 pb-1">Diagnóstico y estado del equipo</h4>
                            <label class="text-danger mb-3">* Required</label>
                            <div class="form-group">
                                <label class="form-control-label">Observaciones * :</label>
                                <input type="text" id="observation" name="observation" placeholder="" class="form-control" value={{observation}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Diagnóstico * :</label>
                                <input type="text" id="diagnostic" name="diagnostic" placeholder="" class="form-control" value={{diagnostic}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Recomendaciones * :</label>
                                <input type="text" id="recommendation" name="recommendation" placeholder="" class="form-control" value={{recommendation}}>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Estado :</label>
                                <div class="select mb-3">
                                    <select name="status" class="form-control" value={{status}}>
                                        <option value="disponible">Disponible</option>
                                        <option value="ocupado">Ocupado</option>
                                        <option value="mantenimiento">Mantenimiento</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" id="prevBtn" style="display: none" class="btn btn-secondary prev mx-2" onclick="nextPrev(-1)">
                                <span class="fa fa-long-arrow-left"></span>Back
                            </button>
                             <button type="button" class="btn btn-blue next mx-2" id="nextBtn" onclick="nextPrev(1)" onkeydown="">
                                 Next<span class="fa fa-long-arrow-right"></span>
                            </button>
                            <button type="reset" id="backBtn" style="display: none" class="btn btn-secondary prev mx-2">
                                <span class="fa fa-long-arrow-left"></span>Return
                            </button>
                        </div>
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>
</div>


